<!doctype html>
<html lang="en">
{{ template "head.html" }}
<body>
{{ template "header.html" }}
<main role="main">
    <div class="d-flex align-items-center my-1 text-black-50 rounded shadow-sm">
        <div class="col-md-3 offset-md-1">
            <h5 class="mb-0 text-black lh-100">Objects</h5>
        </div>
        <div class="col-md-7">
            <a href="#" class="btn btn-primary my-2 float-right" data-toggle="modal" data-target="#UploadFileModal">Upload File</a>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="album py-1 bg-light">
        <div class="container" style="max-width: 1340px">
            <div class="row my-3 p-3 bg-white rounded shadow-sm" id="lightgallery">
                {{range  .Objects}}
                    {{ if .Type }}
                    <a href="{{.Url}}" style="padding-right: 10px">
                        <img src="{{.Url}}" height="200px" style="border-radius: 10%"/>
                        <p title="{{.Name}}" class="text-center" style="width: 120px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{.Name}}</p>
                    </a>
                    {{ else }}
                    <a href="/static/bootstrap-4.4.1/dist/img/file-a.png" style="padding-right: 10px">
                        <img src="/static/bootstrap-4.4.1/dist/img/file-a.png" height="200px"/>
                        <p title="{{.Name}}" class="text-center" style="width: 120px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{.Name}}</p>
                    </a>
                    {{ end }}
                {{end}}
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="UploadFileModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload File</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" id="uploadFileForm" action="/{{.Bucket.Name}}/upload_file" method="post">
                    <div class="form-group">
                        <label for="file_input">Files</label>
                        <input multiple type="file" class="form-control" id="file_input" name="file_input">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="uploadFileButton">Upload</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" id="modalBody">

            </div>
        </div>
    </div>
</div>

{{ template "footer.html" }}

{{ template "scripts.html" }}
<script src="/static/light_gallery/lightgallery.js"></script>
<script src="/static/light_gallery/lg-thumbnail.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#lightgallery").lightGallery({thumbnail: true});
    });
    $("#uploadFileForm").submit(function () {
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this);
        var uploadFileButton = $("#uploadFileButton");
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            enctype: 'multipart/form-data',
            processData: false,  // Important!
            contentType: false,
            cache: false,
        }).done(function (response) {
            $("#modalBody").text(response.message);
            if (response.error === false) {
                location.reload()
            }
            $("#UploadFileModal").modal("hide");
            $("#exampleModalCenter").modal("show");
            uploadFileButton.text("Upload");
            $("#bucket_name").val("");
            uploadFileButton.removeAttr("disabled")
        });
        return false
    });
    $("#uploadFileButton").click(function () {
        var elem = $(this);
        elem.attr("disabled", "");
        elem.html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>\n" +
            "  Loading...");
        $("#uploadFileForm").submit();
    })
</script>
</body>
</html>
