<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}
<body>
<div class="site-wrap">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    {{ template "header.html" }}
    <main class="main-content">
        <div class="container-fluid photos">
            <div class="row pt-4 mb-5 text-center">
                <div class="col-md-2">
                    {{ if ne .PreviousFolderUrl "" }}
                    <button class="btn btn-primary btn-md text-white"
                            onclick="location.href='{{ .PreviousFolderUrl }}'">< Back
                    </button>
                    {{ end }}
                </div>
                <div class="col-6">
                    <h2 class="text-white mb-4">{{ .Bucket.Name  }}/{{ .Bucket.Prefix }} - <span
                                class="object-count">{{ .Count }}</span> Files</h2>
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Upload" class="btn btn-primary btn-md text-white col-md-5 button-group-left" data-toggle="modal"
                           data-target="#UploadFileModal">
                    <input type="submit" value="Create Folder" class="btn btn-primary btn-md text-white col-md-5 button-group-right" data-toggle="modal"
                           data-target="#createFolderModal">
                </div>
            </div>
            <div class="row align-items-stretch">
                {{ range .Folders }}
                    <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                        <div class="checkbox-btn"><input type="checkbox" class="folder-item-checkbox"/></div>
                        <a href="{{ .Url }}" class="d-block photo-item folder-item" data-caption="{{ .Name }}">
                            <img src="/static/folder_icon.png" alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                                <div class="photo-text-more">
                                    <h3 class="heading">{{ .Name }}</h3>
                                    <br><span class="icon icon-folder"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                {{ end }}
                {{ range .Objects }}
                    {{ if .IsValid }}
                        {{ if eq .Type "mp4" }}
                            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                                <div class="checkbox-btn"><input type="checkbox" class="photo-item-checkbox"/></div>
                                <a href="{{.Url}}" data-url="{{ .Url }}" class="d-block photo-item album-item"
                                   data-fancybox="gallery" data-caption="{{ .Name }}">
                                    <video src="{{ .Url }}#t=0.1" alt="Image" class="img-fluid"></video>
                                    <div class="photo-text-more">
                                        <div class="photo-text-more">
                                            <h3 class="heading">{{ .Name }}</h3>
                                            <br><span class="icon icon-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {{ else }}
                            <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                                <div class="checkbox-btn"><input type="checkbox" class="photo-item-checkbox"/></div>
                                <a href="{{ .Url }}" data-url="{{ .Url }}" class="d-block photo-item album-item"
                                   data-fancybox="gallery" data-caption="{{ .Name }}">
                                    <img src="{{ .Url }}" alt="Image" class="img-fluid">
                                    <div class="photo-text-more">
                                        <div class="photo-text-more">
                                            <h3 class="heading">{{ .Name }}</h3>
                                            <br><span class="icon icon-search"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {{ end }}
                    {{ else }}
                        <div class="col-6 col-md-6 col-lg-3" data-aos="fade-up">
                            <div class="checkbox-btn"><input type="checkbox" class="photo-item-checkbox"/></div>
                            <a href="/static/file_icon.png" data-url="{{ .Url }}" class="d-block photo-item album-item"
                               data-fancybox="gallery" data-caption="{{ .Name }}">
                                <img src="/static/file_icon.png" alt="Image" class="img-fluid">
                                <div class="photo-text-more">
                                    <div class="photo-text-more">
                                        <h3 class="heading">{{ .Name }}</h3>
                                        <br><span class="icon icon-search"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            <a id="download-item" target="_blank" href="" download></a>
            {{ template "footer.html" }}
        </div>
    </main>
    <div class="modal fade" id="UploadFileModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="uploadFileForm" action="/{{ .Bucket.Name }}/upload_file"
                          method="post">
                        <div class="form-group">
                            <label for="file_input">Files</label>
                            <input type="text" value="{{ .Bucket.Prefix }}" id="folder_key_input"
                                   name="folder_key_input" style="display: none">
                            <input multiple type="file" class="form-control-file" id="file_input" name="file_input">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="uploadFileButton">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createFolderModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createFolderForm" action="/{{ .Bucket.Name }}/create_folder" method="post">
                        <div class="form-group">
                            <label for="new_folder_name">Folder Name</label>
                            <input type="text" value="{{ .Bucket.Prefix }}" id="folder_name_id"
                                   name="folder_name" style="display: none">
                            <input type="text" id="new_folder_name_id" name="new_folder_name" class="form-control text-black">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createFolderButton">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "scripts.html" }}

<script type="text/javascript">
    deleteItemUrl = "/{{ .Bucket.Name }}/delete_objects";
    nextObjectsUrl = "/{{ .Bucket.Name }}/list_objects_with_key";
    createFolderUrl = "/{{ .Bucket.Name }}/create_folder";
    deleteFolderUrl = "/{{ .Bucket.Name }}/delete_folders";
    item_count = {{ .Count }};
    folder_key = "{{ .Bucket.Prefix }}";
</script>

<script src="/static/js/album.js"></script>

</body>
</html>