<header class="header-bar d-flex d-lg-block align-items-center">
    <div class="site-logo">
        <a href="/list_buckets">Storage Manager</a>
    </div>

    <div class="d-inline-block d-xl-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

    <div class="main-menu">
        <ul class="js-clone-nav">
            <li><a href="/list_buckets">Buckets</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

</header>