<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}
<body>
<div class="site-wrap">
    <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <main>
        <div class="container-fluid photos">
            <div class="row justify-content-center">
                <div class="col-md-6 pt-4" data-aos="fade-up">
                    <h2 class="text-white mb-4">Credentials</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="POST" action="/login">
                                        <div class="row form-group">

                                            <div class="col-md-12">
                                                <label class="text-white">Storage Provider</label>
                                                <select id="storage_provider_id" name="storage_provider"
                                                        class="form-control" required>
                                                    <option value=""></option>
                                                    <option value="s3">AWS S3</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">

                                            <div class="col-md-12">
                                                <label class="text-white">ID</label>
                                                <input type="text" id="id_id" name="id" class="form-control" required>
                                            </div>
                                        </div>

                                        <div class="row form-group">

                                            <div class="col-md-12">
                                                <label class="text-white">Secret Key</label>
                                                <input type="text" id="secret_key_id" name="secret_key"
                                                       class="form-control" required>
                                            </div>
                                        </div>

                                        <div class="row form-group mb-5">
                                            <div class="col-md-12">
                                                <label class="text-white">Storage Region</label>
                                                <select name="region" id="region_id"
                                                        class="form-control" required>
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <input type="submit" value="Start"
                                                       class="btn btn-primary btn-md text-white">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ template "footer.html" }}
        </div>
    </main>
</div>
{{ template "scripts.html" }}
<script>
    awsRegions = {
        "eu-central-1": "Europe (Frankfurt) eu-central-1",
        "eu-west-1": "Europe (Ireland) eu-west-1",
        "eu-west-2": "Europe (London) eu-west-2",
        "eu-south-1": "Europe (Milan) eu-south-1",
        "eu-west-3": "Europe (Paris) eu-west-3",
        "eu-north-1": "Europe (Stockholm) eu-north-1",
        "me-south-1": "Middle East (Bahrain) me-south-1",
        "sa-east-1": "South America (São Paulo) sa-east-1",
        "us-east-2": "US East (Ohio) us-east-2",
        "us-east-1": "US East (N. Virginia) us-east-1",
        "us-west-1": "US West (N. California) us-west-1",
        "us-west-2": "US West (Oregon) us-west-2",
        "af-south-1": "Africa (Cape Town) af-south-1",
        "ap-east-1": "Asia Pacific (Hong Kong) ap-east-1",
        "ap-south-1": "Asia Pacific (Mumbai) ap-south-1",
        "ap-northeast-3": "Asia Pacific (Osaka-Local) ap-northeast-3",
        "ap-northeast-2": "Asia Pacific (Seoul) ap-northeast-2",
        "ap-southeast-1": "Asia Pacific (Singapore) ap-southeast-1",
        "ap-southeast-2": "Asia Pacific (Sydney) ap-southeast-2",
        "ap-northeast-1": "Asia Pacific (Tokyo) ap-northeast-1",
        "ca-central-1": "Canada (Central) ca-central-1",
        "cn-north-1": "China (Beijing) cn-north-1",
        "cn-northwest-1": "China (Ningxia) cn-northwest-1"
    };
    $("#storage_provider_id").change(function () {
        var provider = this.value;
        var region_select_elem = $('#region_id')
        region_select_elem.html("")
        region_select_elem.append($('<option>').val("").text(""));
        if (provider === "s3") {
            $.each(awsRegions, function (key, val) {
                region_select_elem.append($('<option>').val(key).text(val));
            })
        }
    })
</script>
</body>
</html>